:root {
  --main-bg-color: rgb(22, 22, 22);
  --sidebar-color: rgb(12, 12, 12);
  --input-color: rgb(54, 54, 54);
  --input-highlight: rgb(70, 70, 70);
  --border-color: rgb(3, 177, 177);
  --border-highlight-color: rgb(11, 255, 255);
  --font-color: white;
  --font-size-primary: 1.5rem;
  --indent: 20px;
}
